cz3/src/soap/wizard/wsdl/classes/server.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soap/" name="ServerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soap/" schemaLocation="http://localhost:9999/ws/server?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getServerName">
<part name="parameters" element="tns:getServerName"></part>
</message>
<message name="getServerNameResponse">
<part name="parameters" element="tns:getServerNameResponse"></part>
</message>
<message name="calculator">
<part name="parameters" element="tns:calculator"></part>
</message>
<message name="calculatorResponse">
<part name="parameters" element="tns:calculatorResponse"></part>
</message>
<message name="SecretException">
<part name="fault" element="tns:SecretException"></part>
</message>
<message name="getReverseMessage">
<part name="parameters" element="tns:getReverseMessage"></part>
</message>
<message name="getReverseMessageResponse">
<part name="parameters" element="tns:getReverseMessageResponse"></part>
</message>
<portType name="Server">
<operation name="getServerName">
<input wsam:Action="http://service.soap/Server/getServerNameRequest" message="tns:getServerName"></input>
<output wsam:Action="http://service.soap/Server/getServerNameResponse" message="tns:getServerNameResponse"></output>
</operation>
<operation name="calculator">
<input wsam:Action="http://service.soap/Server/calculatorRequest" message="tns:calculator"></input>
<output wsam:Action="http://service.soap/Server/calculatorResponse" message="tns:calculatorResponse"></output>
<fault message="tns:SecretException" name="SecretException" wsam:Action="http://service.soap/Server/calculator/Fault/SecretException"></fault>
</operation>
<operation name="getReverseMessage">
<input wsam:Action="http://service.soap/Server/getReverseMessageRequest" message="tns:getReverseMessage"></input>
<output wsam:Action="http://service.soap/Server/getReverseMessageResponse" message="tns:getReverseMessageResponse"></output>
</operation>
</portType>
<binding name="ServerImplPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getServerName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="calculator">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SecretException">
<soap:fault name="SecretException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getReverseMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServerImplService">
<port name="ServerImplPort" binding="tns:ServerImplPortBinding">
<soap:address location="http://localhost:9999/ws/server"></soap:address>
</port>
</service>
</definitions>